*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2c2b2b;
  font-family: "Oswald", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.container {
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}
.header {
  background-image: url(../images/Group\ 17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: #fff;
}
.header__top {
  padding: 47px 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone {
  font-size: 36px;
  line-height: 53px;
  font-weight: 400;
}
.header__content {
  padding-top: 60px;
  position: relative;
}
.header__title {
  font-size: 72px;
  line-height: 107px;
  font-weight: 400;
  text-transform: uppercase;
}
.header__subtitle {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 54px;
  text-transform: uppercase;
}
.header___text {
  margin-bottom: 30px;
  max-width: 800px;
}
.button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: inherit;
  padding: 14px 54px 15px;
  background-color: #5a0d67;
}
.button:hover {
  color: #5a0d67;
  background-color: #fff;
}
.header__social {
  padding: 70px 0 20px 65px;
  display: flex;
  align-items: center;
}
.header__social-link {
  margin-right: 10px;
}
.header__images {
  position: absolute;
  right: 0;
  bottom: -265px;
}
.survices {
  padding-top: 350px;
}
.title {
  color: #21062a;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
}
.title::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #21062a;
  position: absolute;
  top: 20px;
  margin-left: 20px;
}
.survices__inner {
  display: flex;
  margin-bottom: 100px;
}
.survices__content {
  width: 505px;
  margin-right: 96px;
}

.survices__content-title {
  color: #5a0d67;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 12px;
}
.survices__content-textbox {
  margin-bottom: 57px;
}
.survices__content-text {
  margin-bottom: 12px;
}
.button--decor {
  margin-top: -7px;
  color: #fff;
  position: relative;
}
.button--decor::after {
  content: "ЖМИ";
  position: absolute;
  color: #c4c4c4;
  margin-left: 130px;
}
.button--decor::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #c4c4c4;
  position: absolute;
  top: 24px;
  right: -65px;
}
.survices__list {
  list-style: none;
  counter-reset: my-counter;
}
.survices__item {
  counter-increment: my-counter;
  margin-bottom: 12px;
  border: 1px solid #c4c4c4;
  width: 450px;
  padding: 10px 15px 10px 113px;
  position: relative;
  transition: all 0.5s;
}
.survices__item:hover {
  border: 2px solid #5a0d67;
  width: 500px;
}
.survices__item:hover .survices__item-title {
  color: #5a0d67;
}
.survices__item:hover::before {
  color: #5a0d67;
}
.survices__item::before {
  content: "0" counter(my-counter);
  position: absolute;
  left: 20px;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  color: #c4c4c4;
  transform: rotate(270deg);
}
.survices__item-title {
  font-size: 24px;
  font-weight: 300;
}
.benefits {
  margin-bottom: 100px;
}
.benefits__inner {
  display: flex;
}
.benefits__images {
  margin-right: 95px;
}
.benefits__content {
  width: 100%;
  color: #fff;
}
.benefits__title {
  margin-left: 185px;
}
.benefits__list {
  list-style: none;
  background-color: #21062a;
  padding: 25px 0 25px 185px;
}
.benefits__item {
  width: 320px;
  margin-bottom: 20px;
}
.benefits__item-num {
  font-size: 36px;
  line-height: 53px;
  font-weight: 400;
}
.benefits__item-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}
.benefits__item-text {
  color: #c4c4c4;
}
.carousel {
  margin-bottom: 100px;
}
.carousel__item-box:hover {
  color: #fff;
  background-color: #5a0d67;
  border-color: #5a0d67;
}
.carousel__inner {
  margin: 0 -7px;
}
.carousel__item-box {
  border: 1px solid #c4c4c4;
  padding: 6px 6px 16px 6px;
  margin: 0 7px;
  text-align: center;
  transition: all 0.5s;
}
.carousel__item-img {
  max-width: 100%;
}
.carousel__item-title {
  font-weight: 300;
  margin-bottom: 5px;
}
.carousel .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
}
.carousel .slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0 10px;
  background-color: #c4c4c4;
  width: 50px;
  height: 1px;
}
.carousel .slick-active button {
  height: 3px;
  background-color: #5a0d67;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
}
.contacts__list {
  list-style: none;
}
.contacts__item {
  margin-bottom: 20px;
}
.contacts__item-title {
  color: #5a0d67;
}
.contacts__form {
  p: 50px 75px 57px;
  background-color: #21062a;
  text-align: center;
}
.contacts__title {
  color: #fff;
  margin-bottom: 16px;
  margin-left: 53px;
  text-align: left;
}
.contacts__title::after {
  background-color: #ffff;
}
.contacts__input {
  display: block;12
  background-color: transparent;
  width: 450px;
  height: 75px;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 12px;
  font-size: 24px;
  padding: 0 15px;
}
.contacts__input::placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #c4c4c4;
  font-family: "Oswald", sans-serif;
}
.contacts__btn {
  border: none;
  color: #fff;
  margin-top: 78px;
}
